<footer class="footer footer-dark pt-5 pb-5" style="background-color: #2b2e37; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>This is a project that is created by ACHU RAJ. It is a simple student management system. It can handle student registration, login, and profile management. It is created using Django framework.</p>
            </div>
            <div class="col-md-4">
                <h3>Features</h3>
                <ul>
                    <li>Student Registration</li>
                    <li>Student Login</li>
                    <li>Student Profile Management</li>
                    <li>Student Fee Management</li>
                    <li>Student Attendance Management</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>For any queries or feedback, please contact us at <a href="mailto:achuranirudh@gmail.com">achuranirudh@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer>
